body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
header {
    justify-content: center;
    flex-shrink: 0;
    background-color: #E7E9FC;
    border-bottom: 1px solid #e7e9fc;
    }
.header-logo {
    display: flex;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}
.navigate {
    color: #2E2F42;
    display: flex;
    align-items: center;
   
}
.web {
    color: #4D5AE5; 
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}
.studio {
    color: #2E2F42;
}
.nav {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.menunav{
    display: flex;
    gap: 40px;
}
.menunav .nav:hover, .menunav .nav:focus {
    color: #404bbf;
}
address {
    font-style: normal;
}
.mailto {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.tel {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455
}

.menuaddres .tel:hover,
.menuaddres .tel:focus {
    color: #404bbf;
}
.menuaddres {
    color: #434455;
}
.hero {
    background-color: #2e2f42;
}
h1 {
    color: #ffffff;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}
.button-order {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}
.hero .button-order:hover, .hero .button-order:focus {
    background-color: #404BBF;
}
.hh-strategy {
    color: #2E2F42;
}
.h-strategy {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.p-strategy {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.section-tree {
    background-color: #F4F4FD;
}
.hour-team {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.mark-team {
    background-color: #FFFFFF;
}
.mark {
    color: #2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.p-our-team {
    color: #434455;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.portfolio {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.portfolio-subtitle {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.p-portfolio {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer {
    background-color: #2e2f42;
}
.p-footer {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.studio-footer {
    color: #f4f4fd;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    display: block;
}